.app{
  position: sticky;
  top: 0;
  z-index: 100;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 55px;
    
  }
  
.amazon-logo{
  margin-top: 10px;
  object-fit: contain;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
  
    }
    
    .serach_header{
      display: flex;
       height: 70%;
      width: 50%;
   border: 1px solid black;
   border-radius: 15px;
    }
  
    .serach_header > input{
      border:none;
      flex:1;
    }
    .serach_header > input:focus{
      outline:none;
     
    }
    .serach_icon_container{
      background: rgb(248, 193, 73);
  
     width:50px !important;
     height: 100% !important;
    
     cursor: pointer;
     
     
    }
    .serach_icon_container:hover{
      background: rgb(247, 181, 40);
    }
    .serach_icon{
      
      
      margin-top: 9px;
      margin-left: 15px;
      transform: scale(1) !important;
    }
   .right_header{
    display: flex;
    justify-content: space-between;
 
    align-items: center;

     
   }
  

   .header_link{
    color: wheat;
    text-decoration: none;
    margin-right: 10px;
   }
   .signin_link{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
     
 
  
   border: none;
   }
   .header_link:hover{
    border: 0.5px solid wheat;
    
   }
   
   .order{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
    flex-direction: column;
    border: none;
    margin-right: 10px;
   }
  .header_first_line{
    font-size: 10px;
  
  }
  .header_buket{
    width: 100%;
    height: 100%;
    padding: 10px;
    height: 90%;
    display: flex;
  }
  .header_secend_line{
    font-size: 16px;
  }